body {
  font-family: "Helvetica Neue", Arial;
}

h1, h2, h3 {
  font-weight: 200;
}

a {
  color: hsl(200, 50%, 50%);
}

a.active {
  color: hsl(20, 50%, 50%);
}

.breadcrumbs a {
  text-decoration: none;
}
